* {
	margin: 0;
	padding: 0;
}
body {
	background: black;
}
#botones {
	bottom: 0;
	position: absolute;
	right: 0;
	top: 450px;
	vertical-align: top;
	width: 100px;
}
#botones button {
	background: white;
	border: 3px dotted black;
	border-radius: .5em;
	margin: 0 0 0 0;
	padding: 3px 0;
	width: 100px;
}
#botones button:nth-child(2) {
	margin: 3.5px 0;
}
#dialogo {
	border: 3px dotted black;
	border-radius: 1em;
	bottom: 5px;
	left: 5px;
	padding: 5px;
	position: absolute;
	right: 105px;
	top: 455px;
}
#juego {
	background: white;
	background-repeat: no-repeat;
	height: 550px;
	margin: 0 auto;
	position: relative;
	width: 800px;
}
#inicio {
	background: white;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#inicio #idioma {
	background: black;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
#inicio #idioma a {
	display: inline-block;
	margin: 226px 25px;
	z-index: 10;
}
#inicio #idioma a:hover {
	cursor: pointer;
}
#mensaje {
	background: white;
	border: 3px dotted black;
	border-radius: 1em;
	left: 25%;
	padding: 25px 0;
	position: absolute;
	right: 25%;
	text-align: center;
	top: 30%;
	z-index: 9;
}
#menu {
	background: white;
	border: 3px dotted black;
	left: 322px;
	position: absolute;
	right: 322px;
	text-align: center;
	top: 25%;
	z-index: 2;
}
#menu ul {
	list-style: none;
}
#menu ul li {
	text-transform: uppercase;
	width: 150px;
}
#menu ul li button {
	background: white;
	border: 0;
	margin: 0;
	padding: 10px 5px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	width: 150px;
}
#menu ul li button:hover {
	background: silver;
}
#menu ul li h2 {
	border-bottom: 3px dotted black;
}
#personajes {
	bottom: 100px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}
#personajes img {
	display: inline-block;
	max-height: 400px;
}